.tracker 
{
    font-size: 14px;
    border-collapse: collapse;
    width: 350px;
}

.tracker,
.tracker * {
    font-family: sans-serif;
}

.tracker th {
    font-size: 1.25em;
    text-align: left;
    font-weight: normal;
    color: #ffffff;
    background: #009578;
}